.aboutus {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 auto;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.aboutus__click {
  display: flex;
  margin: 0 auto;
}

.aboutus__header {
  font-size: 52px;
  margin-bottom: 25px;
}

.aboutus__smallheader {
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 50px;
}

.aboutus__header-red {
  color: $red;
}
