.intro-section {
  height: 100vh;
  width: 100%;
  background-image: url("../images/content/first.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.intro-section__container {
  display: flex;
  align-content: center;
  align-items: center;
}
