nav {
  color: white;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  margin-left: 15px;
  transition: 0.3s;
  &:hover {
    color: $red;
  }
}

.nav__link {
  text-decoration: none;
}
