.receive__header {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 10%;
}

.receive__header-black {
    color: black;
    margin-right: 10px;
}

.receive__header-red {
    color: $red;
}

.receive__desc {
    line-height: 1.5;
    color: grey;
    font-size: 22px;
    max-width: 60%;
    text-align: center;
    margin-bottom: 5%;
}