.intro-section__scroll {
  border-radius: 50%;
  background: $red;
  max-width: 35px;
  min-height: 35px;
  text-align: center;
}

.scroll__icon {
  max-width: 25px;
  max-height: 25px;
  fill: white;
  transform: rotate(90deg);
  margin-top: 15%;
}
