include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Daisy | main page
  body
    .wrapper
      section.intro-section        
        .container.intro-section__container
          header 
            .header__logo 
              +image("content/D.png", "logo__icon")
              .header__name Daisy 
            .header__menu
              nav.nav
                - var menu = ['О нас', 'Портфолио', 'Услуги', 'Контакты']
                ul.nav__list
                  each item in menu
                    li.nav__item
                      a(href="").nav__link #{item}
          .aboutus
            h1.aboutus__header 
              span.aboutus__header-red Clients 
              span.aboutus__header-white in your business
            h2.aboutus__smallheader Your clients on the Internet. Learn how to receive them.
            .aboutus__click
              button.d__btn i want clients
              +image("content/mouse.png", "aboutus__icon")
          a.scroll(href='#receive')
            +icon("arrow-down", 'scroll__icon')
      
      section.receive-section#receive
        .container.receive-section__container
          h2.receive__header
            span.receive__header-black what can   
            span.receive__header-red  you receive
          .receive__desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, dicta suscipit explicabo totam quibusdam beatae asperiores blanditiis magni placeat, quam, quae fugiat numquam culpa eos odit similique minima doloremque distinctio?
          ul.receive__points
            - 
              var items = [
                ['Clients', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, dicta suscipit explicabo totam quibusdam beatae asperiores blanditiis magni placeat, quam, quae fugiat numquam culpa eos odit similique minima doloremque distinctio?'],
                ['Profit', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, dicta suscipit explicabo totam quibusdam beatae asperiores blanditiis magni placeat, quam, quae fugiat numquam culpa eos odit similique minima doloremque distinctio?'],
                ['Marketing', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, dicta suscipit explicabo totam quibusdam beatae asperiores blanditiis magni placeat, quam, quae fugiat numquam culpa eos odit similique minima doloremque distinctio?'],
                ['ADV.', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, dicta suscipit explicabo totam quibusdam beatae asperiores blanditiis magni placeat, quam, quae fugiat numquam culpa eos odit similique minima doloremque distinctio?']
              ]
            each item in items
              li.receive__desc-item
                .receive__hexagon
                .receive__topic #{item[0]}
                .receive__value #{item[1]}
          a.scroll.scroll-tranparent(href='#expend')
            +icon("arrow-down", 'scroll__icon-tansparent')

      section.expend-section#expend
        .container.expend-section__container
          .expend__border
            h2.expend__title
              span.expend__title-red Expend
              span.expend__title-white your business
            button.d__btn.d__btn-expend Join us
          a.scroll.scroll-expend(href='#wedo')
            +icon("arrow-down", 'scroll__icon')

      section.wedo-section#wedo
        .container.wedo-container
          h2.wedo-title
            span.wedo-title-grey What do
            span.wedo-title-red we do?
          
          .wedo__desc
            .wedo__text
              .wedo__name Landing Pages
              .wedo__about Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident alias cum obcaecati expedita incidunt repellendus similique? Hic aspernatur laborum placeat in aliquam doloremque eveniet at illo assumenda vitae, consequuntur vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore omnis nobis, eius tempora placeat, corporis nihil doloremque eveniet ratione ut, magni saepe quam sequi. Molestiae fugiat maiores illo neque quidem!
              btn.d__btn.d__btn-red More details
            .wedo__pic
              +image("content/device.png", "wedo__picture")
          a.scroll.scroll-tranparent(href='#adv')
            +icon("arrow-down", 'scroll__icon-tansparent')

                   
          .wedo__desc.wedo__desc-mac
            .wedo__pic
              +image("content/mac.png", "wedo__picture")
            .wedo__text.wedo__text-mac
              .wedo__name.wedo__name-mac Advertising
              .wedo__about.wedo__about-mac Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident alias cum obcaecati expedita incidunt repellendus similique? Hic aspernatur laborum placeat in aliquam doloremque eveniet at illo assumenda vitae, consequuntur vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore omnis nobis, eius tempora placeat, corporis nihil doloremque eveniet ratione ut, magni saepe quam sequi. Molestiae fugiat maiores illo neque quidem!
              btn.d__btn.d__btn-red More details   
          a.scroll.scroll-tranparent(href='#adv')
            +icon("arrow-down", 'scroll__icon-tansparent')


          .wedo__desc.wedo__desc-kit
            .wedo__text
              .wedo__name Marketing Kit
              .wedo__about Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident alias cum obcaecati expedita incidunt repellendus similique? Hic aspernatur laborum placeat in aliquam doloremque eveniet at illo assumenda vitae, consequuntur vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore omnis nobis, eius tempora placeat, corporis nihil doloremque eveniet ratione ut, magni saepe quam sequi. Molestiae fugiat maiores illo neque quidem!
              btn.d__btn.d__btn-red More details
            .wedo__pic
              +image("content/kit.png", "wedo__picture")
          a.scroll.scroll-tranparent(href='#adv')
            +icon("arrow-down", 'scroll__icon-tansparent')
      
         

    include ./templates/entry.pug