include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Daisy | main page
  body
    .wrapper
      .intro-section
        
        .container.intro-section__container
          header 
            .header__logo 
              //+icon("images/hexagon.svg", "logo__icon")
              .header__name Daisy 
            .header__menu
              nav.nav
                - var menu = ['О нас', 'Портфолио', 'Услуги', 'Контакты']
                ul.nav__list
                  each item in menu
                    li.nav__item
                      a(href="").nav__link #{item}
          .aboutus
            h1 Clients in your business
            h2 Your clients on the Internet. Learn how to receive them.
            .aboutus__click
              button.aboutus__btn i want clients
              +image("content/mouse.png", "aboutus__icon")


    include ./templates/entry.pug